Olá, <strong>{{ organizer }}</strong>
<p>Recebemos uma inscrição para um meetup:</p>
<p>
  <strong>Meetup: </strong> {{ meetup }} <br />
  <strong>Participante: </strong> {{ subscriber }} <br />
</p>
